@font-face {
    font-family: "Lake reg";
    src: url("./fonts/TTLakes-Regular.woff") format("woff"),
    url("./fonts/TTLakes-Regular.eot") format("eot"),
    url("./fonts/TTLakes-Regular.ttf") format("ttf");
    
}
@font-face {
    font-family: "Lake bold";
    src: url("./fonts/TTLakes-Bold.woff") format("woff"),
    url("./fonts/TTLakes-Bold.eot") format("eot"),
    url("./fonts/TTLakes-Bold.ttf") format("ttf");
}