@media (width >= 1440px) {
    .nav {
        width: 1120px;

        .nav__content {
            width: 1080px;
            display: flex;
            padding: 0;
            list-style: none;
            margin: 16px 10px 0px 35px;
            justify-content: space-between;
        }
        .nav__content li button {
            min-height: 40px;
            border: none;
            background-color: $body;
            color: $grayText;
            margin-right: 16px;
        }
        .nav__content li button:hover, .nav__content li button:focus{
            border: 2px solid #B8FFEC;
            border-radius: 6px;
        }
        
    }
    .heeader__button--feedback {
        border: none;
        color: $grayText;
        background-color: $body;
        margin-left: 3%;
    }
    .main__article {
        display: flex;
        position: relative;
        max-width: 1120px;

        .main__image {
            width: 530px;
            height: 307px;
        }
        .main__textContent {
            width: 490px;
            height: 160px;
            margin-right: 40px;
            margin-left: 40px;
            overflow: hidden;
            transition: 1s;
        }
        .main__button--arrow {
            position: absolute;
            left: 2%;
            bottom: 20%;
            display: flex;
            align-items: center;
            width: 132px;
            height: 24px;
            border: none;
            background-color: white;
            font-family: "Lake reg";
            font-weight: 900;
            margin: 16px 0px 16px 16px;
            background-color: rgba(248, 248, 248, 1);
        }
        .main__button--arrow::before {
            content: url("image/arrowMore.svg");
            margin-right: 5px;
            vertical-align: middle;
        }
        
        
    }
    .title__content {
        color: $grayText;
        margin-left: 3%;
        font-weight: normal;
    }
    .mainSwiper {
        display: flex;
        flex-wrap: wrap;
        min-width: 750px;
        height: 170px;
        overflow: hidden;
        position: relative;
        max-width: 1120px;
        transition: 1s;

        .main__button--arrow {
            position: absolute;
            bottom: -10%;
        }
    }
    .main__button--arrowUP {
        position: absolute;
        left: 2%;
        bottom: 20%;
        display: flex;
        align-items: center;
        width: 132px;
        height: 24px;
        border: none;
        background-color: white;
        font-family: "Lake reg";
        font-weight: 900;
        margin: 16px 0px 16px 16px;
        background-color: rgba(248, 248, 248, 1);
    }
    .main__button--arrowUP::before {
        content: url("image/arrowUP.svg");
        margin-right: 5px;
        vertical-align: middle;
    }
    .mainSwiper__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        width: 240px;
        height: 75px;
        border: 1px solid rgba(234, 234, 234, 1);
        border-radius: 6px;
        margin: 0px 0px 16px 30px;
        
        .img {
            margin-left: 16px;
        }
        .mainSwiper__button {
            margin-right: 16px;
            background: url("image/arrow.svg") center no-repeat;
            border: 2px solid $btnColor;
        }
    }
    .main__button--arrow {
        display: flex;
        align-items: center;
        width: 132px;
        height: 24px;
        border: none;
        background-color: white;
        font-family: "Lake reg";
        font-weight: 900;
        margin: 16px 0px 40px 16px;
        background-color: rgba(248, 248, 248, 1);
    }
    .main__button--arrow::before {
        content: url("image/arrowMore.svg");
        margin-right: 5px;
        vertical-align: middle;
    }
    .mainSwiper--second {  
        height: 180px;
        overflow: hidden;
        max-width: 1120px;
        
        
        .mainSwiper__content--second {
           min-width: 240px;
           height: 160px;
           background-color: white;
           border-radius: 6px;
           border: 1px solid rgba(234, 234, 234, 1);
           margin-left: 32px;
           margin-bottom: 20px;
           position: relative;

            p {
               color: rgba(27, 28, 33, 1);
               font-family: "Lake reg";
               margin: 16px auto auto 16px;
               
            }
            .mainSwiper__button--second {
               margin-right: 16px;
               background: url("image/arrow.svg") center no-repeat;
               border: 2px solid $btnColor;
               position: absolute;
               bottom: 16px;
               right: 5px;
                
            }
        }
    }
    .mainSwiper--third {
        display: none;
    }
    .price__wrapper {
        display: flex;
        flex-direction: column;

        .price__content {
            width: 1100px;
            display: grid;
            gap: 16p;
            grid-template-columns: 40% 25% 18% 20%;
            margin: 0px 16px 0px 16px;
            border-top: 1px solid rgba(234, 234, 234, 1);
            border-bottom: 1px solid rgba(234, 234, 234, 1);
            background-color: white;
            
        }
        .price__content:nth-child(1) {
            color: $grayText;
            border: none;
        }
        .price__content:nth-child(2){
            border-top: none;
        }
        .button__price {
            width: 119px;
            height: 32px;
            border: none;
            background: $btnColor;
            border-radius: 16px; 
            font-size: 12px;
            color: white;
            bottom: 10px;
            right: 10px;
            margin: auto 0px auto 0px;
        }
        .button__price::after {
            content: ">";
            color: white;
            margin-left: 16px;
            font-size: 16px;
        }
    }

    .main__article:last-child {
        flex-direction: column;
        margin-left: 16px;
    }
    .main__textContent--last {
        width: 421px;
        height: 60px;
        margin: 16px;
    }
        
    .main__commersItem {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 35px;
        margin-top: 16px;

        a {
            width: 421px;
            height: 60px;
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
            margin-left: 16px;
            margin-top: 16px;
            border: none;
            background-color: rgba(248, 248, 248, 1);
            
        }
        a::after {
            content: ">";
            color: $btnColor;
            margin-left: 16px;
            margin-top: 30px;
            font-size: 16px; 
         
        }
    }
    
    .footer__wrapper {
        max-width: 1120px;
        margin: 0px 16px 0px 16px;
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        color: $grayText;

    }

}