@import "normalize/normalize.css";
@import "style/fonts.scss";
@import "style/constant.scss";
@import "style/headerMobile.scss";
@import "style/mainMobile.scss";
@import "style/headerTablet.scss";
@import "style/mainTablet.scss";
@import "style/headerDesctop.scss";
@import "style/mainDesctop.scss";
@import "style/menu.scss";
@import "style/modalCall.scss";
@import "style/modalFeedback.scss";

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

